@import "../../Scss/mixin.scss";

.player__controller-container{
    position: absolute;
    width:90%;
    bottom: 10px;
    left: 5%;
    // background-color: lightpink;
}

.player__controller{
    display:flex;
    justify-content: space-between;
}
.player__controller-center{
    flex-grow: 2;
    width: 100px;
    background-color: #323232;
    margin: 0px 8px; 
    border-radius: 5px;
}
.player__controller-right{
    display:flex;
    border:none;
    border-radius: 5px;
    background-color: #323232;
}

.player__play-btn{
    border:none;
    border-radius: 5px;
    background-color: #323232;
    padding: 4px 16px;
    @include tablet(){
    padding: 4px 24px; 
    }
 }
 .player__play-icon{
    width: 14px;
 }

.player__fullscreen-btn,.player__volume-btn{
    background-color: #323232;
    border: none;
    margin:5px;
}

.player__fullscreen-icon,.player__volume-icon{
    width: 16px;
}
