@import "../Scss/fonts.scss";
@import "../Scss/mixin.scss";
@import "../Scss/variable.scss";


.comment {
    width: 100%;
    max-width: 720px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; // 40px require margin bottom based on mockup
    //24px was already set for the horizontal rulers
    @include desk-plus {
      max-width: 1080px;
    }
    &__card {
      display: flex;
      width: 288px;
      justify-content: space-between;
      @include tablet() {
        width: 528px;
      }
    }
    &__title {
      @include h1-mobile();
      margin-top: 32px;
      margin-bottom: 40px;
      @include tablet() {
        @include h1-web;
        margin-bottom: 56px;
        align-self: flex-start;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__card__img {
      margin-top: 28px;
      margin-right: 20px;
      align-self: flex-start;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: #323232;
    }
    &__card__img--top {
      margin-top: 0px;
    }
    &__card-container {
      display: flex;
      flex-direction: column;
    }

    &__card__text {
      @include paragraph-mobile();
    }

    &__card__text--name {
      word-break: break-word; // ask yash why it behaves this way
      margin-bottom: 16px;
      margin-right: 8px;
      font-weight: bold;
    }
    &__card__text--date {
      opacity: 0.5;
    }
    &__card__text--comment {
      word-break: break-word; // ask yash why it behaves this way
      margin-bottom: 24px;
    }

    &__card__header {
      display: flex;
      justify-content: space-between;
      @include tablet() {
        justify-content: flex-start;
      }
    }
    &__divider {
      width: 100%;
      height: 1px;
      margin-bottom: 24px;
    }
    &__feedback-container{
      width: 100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      }
      
      &__like-div{
        display:flex;
        align-items: center;
      }
      &__like-counter{
        font-size: 12px;
        text-align: center;
        opacity: 0.8;
      }
      &__like-btn{
        border-radius: 5px;
        margin-right: 8px;
      }
      
      &__delete-btn {
        font-size: 12px;
        width: 100px;
        height: 30px;
        padding: 5px 8px;
        border-radius: 5px;
      }
  }
