@import "../../Scss/mixin.scss";

.description{
    display: flex;
    justify-content: center;
    margin: 0 16px;
      @include desk-plus(){
        margin: 0 24px 0 0;
      }
}
.description__container{
    max-width: 425px;
    @include tablet() {
        max-width: 720px;
      }
      @include desk-plus() {
        width: 712px;
      }
}

.description__title{
    @include h1-mobile();   
    margin-bottom: 16px;
    @include tablet(){
        margin-bottom: 24px;
        @include h1-web();
    }
}
.description__labels{
    display: flex;
    flex-direction: column;
    @include tablet(){
        flex-direction: row;
        justify-content: space-between;
    }
}
.description__text{
    @include paragraph-mobile();
}

.description__uploader{
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    margin-right:8px;
  
}

.description__text-container{
    display: flex;
    margin-right:16px;
    line-height: 17px;
    height: 18px;
}

.description__likes-icon{
    margin-right:8px;
}

.description__views-icon{
    margin-right:8px;
}

.description__uploader-container{
    margin-bottom: 32px;
}

.description__text--stats{
    margin-bottom: 24px;
}
.description__text--long{
    margin-bottom: 40px;
    @include tablet(){
        width: 75%;
        margin-bottom: 64px;
    }
}