@import "../../Scss/mixin.scss";
@import "../../Scss/variable.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  height: 169px;
  @include tablet() {
    height: 80px;
    flex-direction: row;
    margin: 0 24px;
    max-width: 768px;
  }
  @include desk-plus() {
    max-width: 1080px;
  }
}
.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  @include tablet() {
    margin-right: 169px;
    height: 100%;
  }
  @include desk-plus() {
    margin-right: 509px;
  }
}
.header__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet() {
    flex-direction: row;
  }
}
.nav__search {
  width: 100%;
  height: 48px;
  flex-grow: 1;
  max-width: 425px;
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 16px;
  padding: 10px;
  text-indent: 32px;
  margin-bottom: 8px;
  @include tablet() {
    margin-bottom: 0px;
    margin-right: 24px;
  }
}

.nav__upload-dp {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @include tablet() {
    margin-bottom: 0px;
  }
}
.nav__add {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 48px;
  border-radius: 5px;
  background-color: $primary-cta-text-link;
  @include tablet() {
    width: 94px;
  }
}
.nav__add-icon {
  font-size: 24px;
  text-align: center;
  padding-bottom: 4px;
  margin-right: 8px;
}
.nav__profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 16px;
  @include tablet() {
    margin-left: 24px;
  }
}
