// custom fonts ------------------------------------------------------------
@font-face {
    font-family: "AvenirNextPro";
    src: url("../Assets/global-fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
  }
  @font-face {
    font-family: "AvenirNextPro";
    src: url("../Assets/global-fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
    font-weight: 500;
  }
  @font-face {
    font-family: "AvenirNextPro";
    src: url("../Assets/global-fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
    font-weight: bold;
  }