@import "./Scss/fonts.scss";
@import "./Scss/mixin.scss";
@import "./Scss/variable.scss";


// style reset ------------------------------------------------------------
html,
body {
  font-family: "AvenirNextPro";
  box-sizing: border-box;
  color: $paragraph-text;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button{
  border:none;
}
//global
.hr-divider{
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
}

.label{
  opacity: 0.5;
}
